ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws_sim/build/
ros2_ws_sim/install/
ros2_ws_sim/log/
third_party/

*.db
*.db-shm
*.db-wal
*.bag
*.bag/
maps/
*.pcd

.vscode/
__pycache__/
*.pyc

*.crt
.devcontainer/.local
.devcontainer/.config
.kilo
